<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <!--移动端的预览设置，用于适配移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="/css/myblog.css">
    <title>关于我</title>
</head>
<body>

    <!--中间内容-->
    <div class=" m-padded-tb-big">
        <div class="ui container">
            <div class="ui grid rounded mobile stackable">
                <div class="eleven wide column transparent">
                    <div class="ui segment transparent" style="background: space;color: #fff;" >
                        <h1 style="font-family: fangsong;">
            人生苦短，生命渺若尘埃.</br>
            我们在拥有了物质的同时，</br>
            也就拥有了心灵的歌声zhi.</br>
            而吾所建之小博，非为其他，乃为品文、赏乐及交友所用.</br>
            盖以博伊人颦笑，</br>
            所作稍逊阳刚.</br>
            望公等休怪.</br>
            吾素来甚少品赏俗乐</br>
            亦不愿心附当红之优伶.</br>
            虽知此违世风所行.</br>
            然执着之气终未有改.</br>
            呜呼，今之靡音皆流于世，</br>
            古之风雅多遗于土.</br>
            庸风淫乐视太祖之季有加,</br>
            而身怀才德者不得行其道，</br>
            此久为予所睹，恨也.</br>
            吾深知普雅之事难有其为，</br>
            故有仿效陶朱之意，</br>
            隐匿山水之心，</br>
            只惜居无西施同伴，</br>
            行乏子期相交.</br>
            终日茕茕孑立，形影相吊，</br>
            惟以小博赏心悦目，趣矣。</br>
            故曰:"宠辱不惊，看庭前花开花落;</br>
            去留无意，望天空云卷云舒."</br>
            吾虽有铁血主博微美于小博，</br>
            然其所载密文甚多</br>
            亦不能表于诸君，甚惜之.</br>
            公等若有雅言可尽著于文簿之上，</br>
            或以信函相告.必察而复焉：</br>
         <a style="color: #fffa4d">jiawei15214742755@163.com</a></br>
            望诸公于此园尽兴，</br>
            予再拜，进尽甘言.</br>
            共和二零二零年 玖月</br>
            欲将心事付瑶琴.知音少,</br>
            弦断有谁听？</br>
                        </h1>
                    </div>
                </div>
                <div class="five wide column rounded">
                    <div class="ui top attached segment">
                        <div class="ui header teal">作者信息</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text-heavy">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在读大学生，19级。第一学期的时候开始自学Java，并亲手完成了这个项目。</p>
                        <p class="m-text-heavy">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有人问我为什么这么早开始学java，答案其实很简单——我不想让自己的大学生活荒废，我想在大学留下一段美好热血的回忆。</p>
                    </div>
                    <div class="ui attached segment ">
                        <div class="ui orange basic label left pointing">编程</div>
                        <div class="ui orange basic label left pointing">分享</div>
                        <div class="ui orange basic label left pointing">网球</div>
                        <div class="ui orange basic label left pointing">探索</div>
                        <div class="ui orange basic label left pointing">追梦</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic label left pointing">Java</div>
                        <div class="ui teal basic label left pointing">Python</div>
                        <div class="ui teal basic label left pointing">MySQL</div>
                        <div class="ui teal basic label left pointing">SSM</div>
                        <div class="ui teal basic label left pointing">Hadoop</div>
                        <div class="ui teal basic label left pointing">后端开发</div>
                    </div>
                    <div class="ui bottom attached segment center aligned " ><strong style="color: #0e8c8c">支持作者</strong>
                        <a id="qq" class="ui circular icon button m-margin-lr-small">
                            <i class="ui paypal icon"></i>
                        </a>
                        <a id="wechat" class="ui circular icon button m-margin-lr-small">
                            <i class="ui wechat icon"></i>
                        </a>

                    </div>
                    <div id="wechat-qr" class="ui flowing popup transition hidden">
                        <img src="/images/微信支付.PNG" alt="" class="ui rounded image" style="width: 110px">
                    </div>
                    <div id="qq-qr" class="ui flowing popup transition hidden">
                        <img src="/images/支付宝.PNG" alt="" class="ui rounded image" style="width: 110px">
                    </div>
                    <!--二维码-->
                    <div class="ui horizontal divider header">扫码关注我</div>
                    <div class="ui card centered" style="width: 11em">
                        <img src="/images/jjw.jpg" alt="" class="ui rounded image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!--底部footer-->
    <div th:replace="~{index::footer}"></div>


<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/Semantic-UI-CSS-master/semantic.min.js"></script>
    <script >

        $("#b1").click(function (){
            $(".m-item").toggleClass("m-mobile-hide");
        });

        $('#wechat').popup({
            popup:$('#wechat-qr'),
            on:'click',
            position:'bottom center'
        })
        $('#qq').popup({
            popup:$('#qq-qr'),
            on:'click',
            position:'bottom center'
        })
    </script>
</body>
</html>