<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--移动端的预览设置，用于适配移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="/css/myblog.css">

    <link rel="stylesheet" href="/css/typo.css">
    <link rel="stylesheet" href="/css/animate.min.css">

    <link rel="stylesheet" href="/lib/prism/prism.css">
    <link rel="stylesheet" href="/lib/tocbot/tocbot.css">
    <title>博客详情</title>


</head>
<body>
<!--导航-->
<!--<div th:replace="~{index::indexNav}"></div>-->

<!--中间内容-->
<div class="m-container-small m-padded-tb-big m-opacity-mini animated animate__fadeIn">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui list horizontal link  ">
                <div class="item" onclick="$('#popUpLayer1').modal('show');">
                    <img th:src="@{/images/head.jpg}" class="ui avatar image" style="height: 40px;width: 40px">
                    <div class="content"><a class="header">姜家伟</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span
                        th:text="${#dates.format(blog.getPublishDate(),'yyyy-MM-dd')}"></span>
                </div>
                <div class="item">
                    <i class="eye icon"></i><span th:text="${blog.getViews()}"></span>
                </div>
            </div>
        </div>
        <!--图片区域-->
        <div class="ui attached segment ">
            <img th:src="@{${blog.getBlogImg()}}" referrerpolicy="no-referrer" class="ui fluid image rounded m-opacity-no">
        </div>
        <!--内容-->
        <div class="ui attached segment padded ">


            <h2 class="ui header center aligned" th:text="${blog.getTitle()}">【一年总结】记我的大一生活</h2>

            <br>
            <br>
            <br>

            <div id="content" class="typo typo-selection m-padded-lr-responsive m-text-lined js-toc-content"
                 th:utext="${blog.getContent()}">
            </div>
        </div>
        <!--赞赏-->
        <div class="ui center aligned segment basic" th:if="${blog.getAdmireState()==1}">
            <button id="payButton" class="ui green  button circular">支持作者</button>
            <button onclick="$('#popUpLayer2').modal('show');" class="ui red  button circular">下次一定</button>
        </div>
        <div id="QR" class="ui payQR flowing popup transition hidden">
            <div class="ui orange label basic">
                <div class="images">
                    <div class="ui image">
                        <img th:src="@{/images/微信支付.PNG}" alt="" class="ui rounded bordered image" style="width: 200px">
                        <div>微信</div>
                    </div>
                    <div class="ui image">
                        <img th:src="@{/images/支付宝.PNG}" alt="" class="ui rounded bordered image" style="width: 200px">
                        <div>支付宝</div>
                    </div>
                </div>
            </div>
        </div>
        <!--弹出层 onclick="$('.ui.modal').modal('show');"-->
        <div id="popUpLayer2" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                居然是要白嫖
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img src="/images/baipiao.PNG" style="width: 400px">
                </div>
                <div class="description">
                    <div class="ui header">不会吧不会吧，不会真的有人要白嫖吧</div>
                    <p>真是不可原谅，居然是要白嫖</p>
<!--                    <p>希望此刻的你能改邪归正，从此杜绝白嫖！</p>-->
                    <p>友情链接：<a href="" th:href="@{https://search.bilibili.com/video?keyword=%E7%99%BD%E5%AB%96%E7%9A%84%E5%8D%B1%E5%AE%B3}">白嫖的危害</a></p>
                </div>
            </div>
        </div>
        <!--个人信息弹出框-->
        <div th:replace="~{index::popUp}"></div>




        <!--博客信息-->
        <div class="ui attached positive message">
            <div class="ui grid middle aligned">
                <div class="eleven wide column">
                    <ui class="list">
                        <li></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.getPublishDate(),'yyyy-MM-dd')}"></span></li>
                        <li th:if="${blog.getReprintState()}">版权声明：自由转载-非商用-非衍生-保留署名</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img src="" alt="" class="ui rounded bordered image">
                </div>
            </div>
        </div>

        <!--留言区域-->
        <div th:fragment="refresh_area" th:if="${blog.getCommentState()}">
            <div class="ui bottom attached segment" id="comment-container">
                <div class="ui comments">
                    <h3 class="ui dividing header">评论</h3>
                    <div class="comment" th:each="comment,iter:${Comments}">
                        <a class="ui avatar image ">
                            <img class="ui avatar image"
                                 th:src="${comment.getBloggerState() == '1'}?'/images/head.jpg':'/images/commonhead.jpg'">
                        </a>
                        <div class="content">
                            <a class="author" th:text="${comment.getReplyName()+'-'+comment.getReplyEmail()}">Matt</a>
                            <div class="ui  basic teal mini label " th:if="${comment.getBloggerState() == '1'}">博主</div>
                            <div class="metadata">
                                <span class="date" th:text="${#dates.format(comment.getPublishDate().getTime(),'yyyy-MM-dd HH:mm:ss')}">Today at 5:42PM</span>
                            </div>
                            <div class="text" th:text="${comment.getReplyContent()}">
                                How artistic!
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <form action="/add_comment" target="InfoShow" method="post"  id="comment"  class="ui form" >
                <!--回复的博客的id-->
                <input type="hidden" name="blogId" th:value="${blog.getId()}">
                <!--当前评论的父评论id-->
                <input id="parent" type="hidden" name="parentId" value="-1">
                <div class="field">
                    <textarea id="id_content" name="replyContent" placeholder="快来输入你的评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide">
                        <div class="ui left icon input m-margin-bottom-small ">
                            <i class="user icon"></i>
                            <input type="text" name="replyName" placeholder="姓名">
                        </div>
                    </div>
                    <div class="field m-mobile-wide">
                        <div class="ui left icon input  m-margin-bottom-small ">
                            <i class="mail icon"></i>
                            <input type="text" name="replyEmail" placeholder="邮箱">
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide">
                        <div class="ui left icon input  m-margin-bottom-small ">
                            <div id="v_container" style="width: 150px;height: 40px;"></div>
                            <input type="text" id="code_input" value="" placeholder="请输入验证码"/>
                            <input id="securitycode" type="hidden" name="securitycode" value=""/>
                        </div>
                    </div>
                    <div class="field  m-margin-bottom-small m-mobile-wide ">
                        <button id="my_button" class="ui button teal m-mobile-wide" type="submit">
                            <i class="ui edit icon"></i>评论
                        </button>
                    </div>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>


    </div>
</div>

<div class="ui vertical icon buttons  m-fixed m-padded m-right-bottom">

    <div id="toTop-button" class="ui icon button "><i class="ui chevron up icon"></i></div>
    <button id="menuButton" type="button" class="ui button teal">目录</button>
    <a href="#comment-container" target="InfoShow" class="ui button teal">留言</a>

</div>
<div id="catalogue" class="ui flowing  popup transition hidden " data-position="left" style="width: 250px !important; ">
    <ol class="js-toc"></ol>
</div>
<br>
<br>
<!--底部footer-->
<div th:replace="~{index::footer}"></div>


<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/Semantic-UI-CSS-master/semantic.min.js"></script>
<script src="/lib/prism/prism.js"></script>
<script src="/lib/tocbot/tocbot.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<!--引入验证码js-->
<script src="/js/security_code.js"></script>
<script type="text/javascript">
    //验证 验证码是否正确
    var verifyCode = new GVerify("v_container");
    document.getElementById("my_button").onclick = function(){
        var res = verifyCode.validate(document.getElementById("code_input").value);
        if(res){
            // alert("验证正确");
            document.getElementById("securitycode").value = res;
        }else{
            // alert("验证码错误");
            document.getElementById("securitycode").value = "";
        }
    };

    function tip(){
        console.log("表单提交");
    };

</script>

<script type="text/javascript">
    $("#b1").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });


    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });
    //支持作者
    $('#payButton').popup({
        popup: $('.popup.payQR'),
        on: 'click',
        position: 'bottom center'
    })
    $('#menuButton').popup({
        popup: $('#catalogue'),
        on: 'click',
        position: 'left center'
    })

    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 500);
    })

    function changeParent(button) {
        $('#parent').val($(button).attr("data-parent"));
        $('#id_content').text('@' + $(button).attr("data-name") + ':')
    }

    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'replyContent',
                rules: [{
                    type: 'empty',
                    prompt: '评论内容：请输入评论内容'
                }]
            },
            name: {
                identifier: 'replyName',
                rules: [{
                    type: 'empty',
                    prompt: '用户昵称：请输入用户昵称'
                }]
            },
            email: {
                identifier: 'replyEmail',
                rules: [{
                    type: 'empty',
                    prompt: '邮箱：请输入邮箱地址'
                }]
            },
            securitycode: {
                identifier: 'securitycode',
                rules: [{
                    type: 'empty',
                    prompt: '验证码：验证码输入错误！'
                }]
            }
        }
    })
</script>
</body>
</html>