<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--移动端的预览设置，用于适配移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="/css/myblog.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon"/>
    <!--音乐插件CSS-->
    <link rel="stylesheet" href="/static/musicPlayer/css/player.css" th:href="@{/musicPlayer/css/player.css}">
    <title>家伟'Blog</title>
</head>
<body>

    <!--中间内容-->
    <div class="m-padded-tb-large m-opacity-mini m-container ">
        <div class="ui container">
            <!--搜索框-->
            <div class="ui form segment inverted">
                <div class="fields inline">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field right aligned">
                        <button class="ui small teal basic button" onclick="search()">
                            <i class="search icon"></i>搜索
                        </button>
                    </div>
                </div>
            </div>
            <div class="ui grid stackable ">
                <!----左边博客列表--->
                <div class="eleven wide column ">
                    <!--头部-->
                    <div class="ui segment top attached ">
                        <div class="ui middle aligned grid two column">
                            <div class="column">
                                <h3 class="ui header teal">博文速览</h3>
                            </div>
                            <div class="column right aligned">
                                总共<h2 class="ui orange header m-inline-block mth" th:text="${PageInfo.total}" >&nbsp;14&nbsp; </h2>篇
                            </div>
                        </div>
                    </div>
                    <!--列表-->
                    <div id="table-container">
                        <div class="ui attached segment " th:fragment="table_refresh">
                        <input type="hidden" name="maxPage" th:value="${PageInfo.getPages()}">
                        <input id="totalPages" type="hidden" name="totalPages" value="" th:value="${PageInfo.pages}">
                        <div  th:if="${PageInfo.getSize()==0}"><h2>没有更多的博客啦！不过未来说不定会有哦！QAQ</h2></div>
                        <!--循环显示博客信息-->
                        <div class="ui padded segment vertical m-padded-b-small m-mobile-clear" th:each="blog,iter:${PageInfo.getList()}">
                            <div class="ui grid mobile reversed stackable">
                                <div class="ui eleven wide column">
                                        <a th:href="@{'/blog_detail/'+${blog.getId()}}" target="InfoShow">
                                        <h3 class="ui header" th:text="${blog.getTitle()}">【一年总结】记我的大一生活</h3>
                                    </a>
                                    <p class="m-text-thin m-text-lined m-text-spaced"  th:text="${blog.getSummary()}"></p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui list horizontal link mini ">
                                                <div class="item hover-link" onclick="$('.ui.modal').modal('show');">
                                                    <img src="/images/head.jpg" class="ui avatar image">
                                                    <div class="content"><a class="header" >姜家伟</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>
                                                    <span th:text="${#dates.format(blog.getPublishDate(),'yyyy-MM-dd')}">2020-7-04</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i><span th:text="${blog.getViews()}">3012</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide column right aligned ">
                                            <span th:each="col,iter:${ColumnistsAll}">
                                                <a  th:if="${blog.getColumnId() == col.getId()}"
                                                   target="InfoShow" class="ui label teal basic m-padded-tiny"
                                                   th:text="${col.getName()}" th:onclick="|parent.window.gotoAndDefaultColumn(${blog.getColumnId()})|">一年总结</a>
                                            </span>
<!--                                            <a th:href="@{'/page_types?typeId='}"-->
<!--                                               target="_blank" class="ui label teal basic m-padded-tiny"-->
<!--                                               th:text="${blog.getColumnId()}">一年总结</a>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column m-padded-tb-large">
                                    <a th:href="@{'/blog_detail/'+${blog.getId()}}" target="InfoShow" >
                                        <img  class="ui round image " th:src="@{${blog.getBlogImg()}}" >
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                    </div>
                    <!--弹出层，显示作者信息-->
                    <div id="popUpLayer1" class="ui modal" th:fragment="popUp">
                        <!--关闭图标-->
                        <i class="close icon"></i>
                        <div class="header">
                            个人信息
                        </div>
                        <div class="image content">
                            <div class="ui medium image">
                                <img src="/images/head.jpg">
                            </div>
                            <div class="description">
                                <table class="ui celled table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>Admin</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>姜家伟</td>
                                        <td>男</td>
                                        <td>jiawei15214742755@163.com</td>
                                        <td class="negative">是</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p class="ui ">Hello Beautiful World!</p>
                                <p class="ui ">未来会怎么样，没有必要过多去想象，一路走下去才会知道。</p>
                                <p class="ui ">改变命运的，并不是所谓的机遇，而是你我对人生的态度。</p>
                                <p class="ui ">笑面人生，会发现哪里都是阳光灿烂；笑面困难，会发现困难并非难已克服。</p>
                                <p class="ui ">每天清晨，保持乐观积极的态度，迎着阳光，一路向前！</p>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui black deny button">
                                Close
                            </div>
                            <div class="ui positive right labeled icon button">
                                Yes,I Will.
                                <i class="checkmark icon"></i>
                            </div>
                        </div>
                    </div>
                    <!--底部-->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned grid two column">
                            <div class="column">
                                <a class="ui button basic mini teal" onclick="pre()" >上一页</a>
                            </div>
                            <div class="column right aligned">
                                <a class="ui button basic mini teal" onclick="next()">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!----右边的top--->
                <div class="five wide column">
                    <div class="ui segments">
                        <!--secondary加个灰色的效果-->
                        <!--分类-->
                        <div class="ui secondary segment ">
                            <div class="ui two column grid">
                                <div class="column" style="color:#f40">
                                    <i class="idea icon"></i>专栏Top10
                                </div>
                                <div class="column right aligned">
                                    <a href="/columnist" onclick="parent.window.addActive(2)" target="InfoShow">more<i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                <a  class="item" th:onclick="|parent.window.gotoAndDefaultColumn(${col.getId()})|" th:each="col,iter:${Columnists}">
                                    <span th:text="${col.getName()}"></span>
                                    <div class="ui basic teal left pointing label"  th:text="${col.getBlogCount()}">13</div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <!--标签-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid" >
                                <div class="column" style="color:#f40">
                                    <i class="tags icon"></i>标签Top10
                                </div>
                                <div class="column right aligned">
                                    <a href="/tag" onclick="parent.window.addActive(3)" target="InfoShow">more<i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a  target="_blank" class="ui basic teal left pointing label item m-margin-tb-tiny" th:onclick="|parent.window.gotoAndDefaultTag(${tag.getId()})|" th:each="tag,iter:${Tags}">
                                <span th:text="${tag.getName()}">一年总结</span>
                                <div class="detail" th:text="${tag.getBlogCount()}">1</div>
                            </a>


                        </div>
                    </div>
                    <!--最新推荐-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column" style="color:#f40">
                                    <i class="bookmark icon"></i>最新推荐
                                </div>
                            </div>
                        </div>
                        <div class="ui segment " th:each="blog,iter:${NewBlogs}">
                            <a th:href="@{'/blog_detail/'+${blog.getId()}}" target="InfoShow" class="ui basic m-color-black m-text-thin teal" th:text="${blog.getTitle()}">最新推荐博客标题</a>
                        </div>

                    </div>
                    <!--二维码-->
                    <div class="ui horizontal inverted divider header">扫码关注我</div>
                    <div class="ui card centered" style="width: 11em">
                        <img src="/images/jjw.jpg" alt="" class="ui rounded image">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <!--底部footer-->
    <footer class="ui inverted vertical segment m-opacity-tiny jjw-m-margin-bottom-small" th:fragment="footer">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="two wide column ">
                    <h4 class="ui inverted header item m-text-thin m-text-spaced m-opacity-mini" >扫码有惊喜！<br>让你笑不停</h4>
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="/images/QRcode.png" class="ui rounded image item" style="width: 100px">
                        </div>
                    </div>

                </div>
                <div class="five wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                    <div class="ui inverted link list">
                        <a class="item m-text-lined"  >博客1</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                    <div class="ui inverted link list">
                        <p class="item m-text-lined" href="#">QQ:</p>
                        <p class="item m-text-lined" href="#">jiawei15214742755@163.com</p>
                        <a class="item m-text-lined" href="https://blog.csdn.net/weixin_46044303">CSDN博客</a>
                    </div>
                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">博客简介</h4>
                    <p class="m-text-small m-text-thin m-text-spaced m-opacity-mini" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此博客为<a>姜家伟</a>的个人博客。
                        在这里，记录了我的技术博客，记录了我的经验分享，也记录了我生活的点滴，记录了我的成长。
                        人生在世，必然会有自己的梦想，不论这个梦想是大是小，是遥不可及还是触手可得，你所要坚信的便只有一件事——有梦便一定要去追，我们都该是追梦人！不论现在处境如何，我们都要去拼一拼，不试怎么知道你会不会成功呢？愿大家都能以梦为马，不负青春韶华！</p>
                </div>
            </div>
            <div class="allow-info-box">
                <a><span>版权与免责声明</span></a>
                <a><span>版权申诉</span></a>
                <a><span>家长监护</span></a>
                <em>
                    <a href="http://www.cyberpolice.cn/" target="_blank">
                        <span>网络110报警服务</span>
                    </a>
                </em>
                <a href="http://www.12377.cn/" target="_blank">
                    <span>中国互联网举报中心</span>
                </a>
                <a href="http://www.bjjubao.org/" target="_blank">
                    <span>北京互联网违法和不良信息举报中心</span>
                </a>
            </div>
            <div>
                <p class="">
                    <img style="vertical-align: middle;height:20px;width:20px;margin-bottom:3px;margin-right:5px" src="/images/gongan.png">
                    <a style="margin-right:16px;" rel="noreferrer" target="_blank" class="ml14">公安备案号 1024102410241024</a>
                    <a rel="noreferrer" target="_blank" class="ml14" style="margin-right:16px;">京ICP备102410241024号</a>
                    <a rel="noreferrer" target="_blank" class="ml14" style="margin-right:16px;">京网文〔2020〕1024-255号</a>
                    <a style="margin-right:16px;" target="_blank">个人网站备案信息</a>
                    <span class="">©1999-2020 浙江奥力给网络技术有限公司 </span>
                </p>
            </div>
            <div>
                <p class="m-text-thin m-text-spaced m-opacity-tiny m-text-lined">Copyright © 2020  </p>
            </div>
            <hr>
        </div>
    </footer>


<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/Semantic-UI-CSS-master/semantic.min.js"></script>


<script >
    $("#b1").click(function (){
        $(".m-item").toggleClass("m-mobile-hide");
    });

    //当前页码
    var currentPage = 1;
    var totalPages = document.getElementById("totalPages").value;

    //下一页
    function next() {
        totalPages = document.getElementById("totalPages").value;
        if(currentPage < totalPages){
            currentPage++;
            loadData();
        };
    }

    //上一页
    function pre() {
        totalPages = document.getElementById("totalPages").value;
        if(currentPage > 1){
            currentPage--;
            loadData();
        };
    }

    //搜索
    function search() {
        // 搜索重置当前页
        currentPage = 1;
        loadData();
    }


    function loadData() {
        $.ajax({
            url: "/find_blog_paging",
            data: {"currentPage": currentPage,title: $("[name='title']").val()},
            type: "get",
            success: function (result) {
                $("#table-container").html(result);
            }
        })
    }
</script>




</body>
</html>